.container1{
  /*padding-left: 50px;
  padding-top: 20px;*/
  margin-left: 5%;
  margin-right: 5%;
   font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 60px;
  text-align: center;

}

h2{
  font-size: 30px;
  color: orange;
  text-align: center;
}

.para {
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
  line-height: 1.6;
 font-family: 'Montserrat', sans-serif;
}
